*{
  margin: 0;
  padding: 0;
  
}

:root{
  --text-color:white;
  --bg-url: url(assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
  
}

.light{
  --text-color:black;
  --bg-url: url(assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);

  
}
body{
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 92.5vh;
  
}

body *{
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

main{
  width: 100%;
  max-width: 588px;
  min-width: 250px;
  margin: auto;
  margin-top: 56px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0 24px;
  /* margin: 56px auto 0px auto; */ 
}

header{
  text-align: center;
  padding: 24px;

}

header img{
  width: 112px;
  border-radius: 50%;

}

header p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch{
  position: relative;
  /* border: 1px solid red; */
  width: 64px;
  margin: 4px auto;

}

#switch button{
      width: 32px;
      height: 33px;
      background-color: white;
      border: 0;
      border-radius: 50%;
      background-image: var(--switch-bg-url);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);

      animation: slide-back 0.4s;
}

#switch button:hover{
  outline: 8px solid var(--highlight-color);
  /*fez aquela sombrinha no botão quando passar o mouse por cima*/
}

.light #switch button{
  animation: slide-in 0.4s forwards;
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  -webkit-backdrop-filter: (4px);
  /* -webkit-backdrop-filter: blur(4px); */
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
  padding-bottom: 24px;
  /*padding: 24px 0; shorthend*/
  
}

ul li a{
   display: flex;
  justify-content: center;
  padding: 16px 24px;
  text-decoration: none;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* transition: all 1s; */
}

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1px solid var(--text-color);
  transition: 0.1s;
}

nav{
  display: flex;
  gap: 16px;
  padding: 24px 0;
  font-size: 25px;
  justify-content: center;

  
}

nav a{
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 16px;
  transition: 0.3s;
  border-radius: 50%;
  /*não sei como mais as imaens estavam tipo um ovo e com esse display flex e essas outras coisas ficarm normal*/
}

nav a:hover{
  background-color: var(--highlight-color);

}

footer p{
  padding: 24px 0;
  text-align: center;
}

@keyframes slide-in {
  from{
    left: 0;
    
  }
  to{
    left: 50%;
    
  }
}

@keyframes slide-back {
  from{
    left:50%;
  }
  to{
    left:0;
  }
}



